body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"], select {
    width: 100%;
}

button {
    background: #4A4A8C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    align-self: center;
}

a.btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #4A4A8C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.action a, .action button {
    background: #4A4A8C;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}


.search-form {
    display: flex;
    gap: 10px;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #d3d3d3;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mensagem-servidor {
    background: #e7f4e4;
    padding: 10px;
    border: 1px solid #a4d7a2;
    border-radius: 5px;
    margin-bottom: 20px;
}
